---
import BaseLayout from '@/layouts/BaseLayout.astro'
import { type CollectionPosts } from '@/types'
import { getPosts } from '@/utils/posts'

export async function getStaticPaths() {
  const posts = await getPosts()
  return posts.map((post) => {
    return {
      params: { slug: post.slug },
      props: {
        post,
      },
    }
  })
}

type Props = { post: CollectionPosts }

const { post } = Astro.props
const { title, image, description, date, duration, tag } = post.data

const { Content } = await post.render()

function getDate(date: string) {
  return new Date(date).toISOString()
}
---

<BaseLayout
  title={title}
  description={description}
  pageType="article"
  isBlogPost={true}
>
  <article class="prose">
    <h1>{title}</h1>
    <p op-50>
      {date && <time datetime={getDate(date)}>{date.split(',')}</time>}
      {duration && <span>· {duration}</span>}
      {tag && <span>· {tag}</span>}
    </p>
    {
      image && (
        <div class="post-image-wrapper">
          <img src={image.src} alt={image.alt || ''} hero-image />
        </div>
      )
    }
    <Content />
  </article>
</BaseLayout>

<style>
  .post-image-wrapper {
    margin-left: calc(-50vw + 50%);
    margin-right: calc(-50vw + 50%);
    max-height: 562px;
    overflow: hidden;
  }
  @media (min-width: 1000px) {
    .post-image-wrapper {
      width: 1000px;
      margin-left: max(calc(-50vw + 50%), calc(-500px + 50%));
      margin-right: max(calc(-50vw + 50%), calc(-500px + 50%));
    }
  }
</style>
